# Dependencies
node_modules/

# Build outputs
dist/
dist-electron/
release/

# Local Dev configuration
.local/
log.txt
*.log
.DS_Store

# User Data (Library specific)
/Books/
db.json

# IDEs
.vscode/
.idea/