# Executables and Libraries
/*.exe
/*.dll
/*.pak
/*.bin
/icudtl.dat
/LICENSES.chromium.html
/locales/
/resources/
/version

# User Data
/Books/

# Local Dev configuration
/Dev/node_modules/
/Dev/dist/
/Dev/dist-electron/
/Dev/.local/
/Dev/log.txt
